body{margin: 5%}
/********** Main ************/
/****** inicio ******/
.inicio_ {
    border-style: solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    padding: 2%;
}

.name {
    text-align: center;
}

.select_info {
    display: flex;
}

.select{
    position: fixed;
    border-style: solid;
    width: 20%;
    padding: 0.5;}

.nav_option{
    display: block}

.info_{
    margin-left: 30%;
    width: 70%;
    padding: 2%;
}
.info_ .conteiner_info_primero{background-color: orange;}
.info_ .conteiner_info_segundo {background-color: red;}

.info_ .conteiner_info_tercero {background-color: green;}